@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprum.woff2) format("woff2"),
  url(../fonts/cuprum.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
  url(../fonts/cuprumbold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumitalic.woff2) format("woff2"),
  url(../fonts/cuprumitalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
  url(../fonts/ptsans.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
  url(../fonts/ptsansbold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

*, *::before, ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.8em;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #32425c;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}


body {
  min-width: 1280px;
  min-height: 3150px;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  padding-bottom: 60px;
  background-color: #f2f6f8;
}

.inner-top {
  width: 100%;
  background-color: #293449;
}

.inner-top .container,
.inner-middle {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.page-header,
.page-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
}

.inner-page {
  min-height: 2250px;
}

.logo {
  display: block;
  width: 220px;
  background-color: #ee3643;
  margin-bottom: -5px;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo {
  height: 47px;
  padding: 14px 55px;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search-form {
  margin: 0;
}

.search-field[type="search"] {
  width: 265px;
  font-size: 17px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 50px;
  border: none;
  color: #ffffff;
  background-color: #293449;
}

.search-field[type="search"]::placeholder {
  color: #ffffff;
}

.search-field[type="search"]:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.search-field[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.markbook-basket {
  display: block;
  position: relative;
  padding-top: 13px;
  padding-right: 30px;
  padding-bottom: 11px;
  padding-left: 45px;
  color: #ffffff;
}

.basket::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.markbook::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.markbook-basket:hover {
  opacity: 0.6;
}

.markbook-basket:active {
  opacity: 1;
}

.markbook-basket:active.basket::before,
.markbook-basket:active.markbook::before {
  opacity: 0.3;
}

.formalize {
  display: block;
  padding: 13px 20px 11px 20px;
  color:#ffffff;
  background-color: #63a63e;
}

.formalize:hover {
  background-color: #5fbb2d;
  opacity: 0.5;
}

.formalize:active {
  background-color: #518534;
  opacity: 1;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  flex-grow: 1;
  display: block;
  padding: 16px 30px 15px 30px;
  vertical-align: middle;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.nav-item:first-child {
  padding-left: 52px;
}

.nav-item:last-child {
  padding-right: 55px;
}

.nav-item:hover {
  background-color: #293449;
  border-bottom: none;
}

.nav-item:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.header-description {
  display: block;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  width: 300px;
  margin: 0;
  padding-top: 46px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
  color: #ee3643;
}

.header-contacts {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 46px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.header-address {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
  text-align: center;
  color: #32425c;
}

.header-tel {
  position: relative;
  display: block;
  font-size: 21px;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-left: 70px;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.header-tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation {
  width: 300px;
  padding-top: 46px;
  padding-bottom: 55px;
  padding-left: 20px;
}

.login-link {
  display: inline-block;
  font-size: 21px;
  color: #000000;
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 22px;
  background-color: #ffffff;
}

.login-link:hover {
  color: #f37f85;
}

.login-link:active {
  color: rgba(202, 202, 202, 0.8);
}

.login-link.enter {
  position: relative;
  padding-left: 47px;
  margin-right: 6px;
}

.login-link.enter::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link.enter:hover::before {

}

.login-link.enter:active::before {

}

.authorise-user-nav {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding-top: 46px;
  padding-bottom: 43px;
}

.user-name,
.icon-login {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-name {
  position: relative;
  padding-top: 11px;
  padding-right: 13px;
  padding-bottom: 11px;
  padding-left: 48px;
}

.user-name::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-login {
  position: relative;
  margin-left: -4px;
  padding-top: 11px;
  padding-right: 57px;
  padding-bottom: 11px;
}

.icon-login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 30px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-name:active {
  color: rgba(202, 202, 202, 0.8);
}

.user-name:hover::before {

}

.order-account {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 17px;
  color: #32425c;
  text-decoration: underline;
}

.order-account:hover {
  color: #ee5962;
}

.order-account:active {
  color: #32425c;
  opacity: 0.3;
}

.added-to-cart {
  text-transform: none;
  color: #000000;
}

.promo {
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 50px;
}

.promo-first {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 620px;
  margin-right: 20px;
}

.promo-second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.promo-second .promo-item:not(:last-child)  {
  margin-bottom: 20px;
}

.promo-item {
  width: 300px;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 23px;
}

.promo-item p {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding-bottom: 15px;
  color: #ffffff;
}

.materials {
  position: relative;
  margin-right: 20px;
  background-color: #ffbf47;
}

.materials::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 32px;
  right: 44px;
  width: 44px;
  height: 63px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.materials::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url("../img/mark.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tools {
  position: relative;
  background-color: #3bbce3;
}

.tools::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 27px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technique {
  position: relative;
  background-color: #dc91d8;
}

.technique::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 30px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discount {
  position: relative;
  background-color: #8ed78f;
}

.discount::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  position: relative;
  background-color: #ffc047;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 30px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  width: 620px;
  height: 267px;
  background-color: #f9f5f0; /*временно*/
}

.slider-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-caption {
  font-size: 18px;
}

.slider .red-btn {
  width: 195px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-right: 23px;
  padding-bottom: 25px;
  padding-left: 30px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.title {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.red-btn  {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  width: 253px;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 7px;
  background-color: #ee3643;
}

.red-btn:hover {
  background-color: #ca2c37;
}

.red-btn:active {
  background-color: #ba2732;
}

.gray-btn {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  width: 135px;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 7px;
  background-color: rgba(0, 0, 0, 0.1);
}

.gray-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.gray-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.product-item {
  position: relative;
  width: 218px;
  padding-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
}

.popular-product .product-item:nth-of-type(4n+4) {
  margin-right: 0;
}

.product-title {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
}

.product-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.product-price del{
  display: block;
  margin-bottom: 10px;
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  color: #bababa;
}

.product-price b {
  position: relative;
  display: block;
  width: 141px;
  margin-left: 35px;
  padding: 10px 35px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.product-price b:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.price-not-visible {
  opacity: 0;
}

.product-item.product-mark::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url("../img/mark.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 216px;
  height: 170px;
  padding-top: 45px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
  background-color: #ffffff;
  z-index: 1;
}

.green-btn {
  position: relative;
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 135px;
  background-color: #63a63e;
  box-shadow: inset  0 -3px 0 0 #367315;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 3px;
  margin-bottom: 7px;
}

.green-btn::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.green-btn:hover {
  background-color: #5fbb2d;
}

.green-btn:hover::before {
  opacity: 1;
}

.green-btn:active {
  box-shadow: none;
  background-color: #518534;
}

.in-mark {
  padding-top: 6px;
  padding-bottom: 4px;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  box-shadow: none;
}

.in-mark:hover {
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.in-mark:active {
  opacity: 0.3;
}

.product-item .actions {
  display: none;
}

.product-item:hover .actions {
  display: block;
}

.product-item:hover {
  box-shadow: 0 8px 10px 6px #a9a9a9;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 700px;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
  list-style: none;
}
.catalog-list .product-item {
  margin-bottom: 20px;
}

.catalog .product-item:nth-of-type(3n) {
  margin-right: 0;
}

.popular-container {
  margin-bottom: 85px;
}

.brand-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-container a {
  display: block;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  text-align: center;
}

.bosch {
  padding-top: 54px;
  padding-bottom: 54px;
}

.makita {
  padding-top: 52px;
  padding-bottom: 52px;
}

.dewalt {
  padding-top: 50px;
  padding-bottom: 50px;
}

.interscol {
  padding-top: 20px;
  padding-bottom: 22px;
}

.hitachi {
  padding-top: 52px;
  padding-bottom: 52px;
}

.lg {
  padding-top: 36px;
  padding-bottom: 36px;
}

.aeg {
  padding-top: 24px;
  padding-bottom: 24px;
}

.metabo {
  padding-top: 38px;
  padding-bottom: 38px;
}

.brand-container a:hover {
  box-shadow: 0 8px 10px 6px #a9a9a9;
}

.brand-container a:active {
  opacity: 0.3;
  box-shadow: 0 3px 10px 3px #a9a9a9;
}

.service-container {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  background-color: #f3f7f8;
}

.service-container .container{
  display: flex;
  flex-direction: column;
}

.credit-desk .red-btn {
  width: 195px;
}

.button-service { /*Кнопка переключения в слайдере "Сервисы"*/
font-family: "Cuprum", Arial, sans-serif;
font-size: 21px;
color: #ffffff;
background-color: #32425c;
}

.button-service:hover {
  background-color: #293449;
}

.button-service:active {
  color: #32425c;
  background-color: #ffffff;
}

.container-about-us .container {
  display: flex;
  justify-content: space-between;
}

.container-about-us p {
  margin: 0;
}

.about-us-left {
  width: 620px;
  margin-right: 20px;
  padding-right: 100px;
}

.about-us-left p {
  margin-bottom: 28px;
}

.about-us-left p:last-of-type {
  margin-bottom: 25px;
}

.about-us {
  padding-bottom: 28px;
  color: #000000;
}

.about-us-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  list-style: none;
  margin-bottom: 35px;
}

.about-us-list li {
  position: relative;
  margin-bottom: 20px;
}

.about-us-list li:nth-last-child {
  margin-bottom: 0;
}

.menu-icon span::before {
  position: absolute;
  display: block;
  top: 6px;
  left: -30px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  content: "";
}

.about-us-left .red-btn {
  width: 220px;
}

.about-us-right {
  width: 300px;
}

.about-us-right p {
  padding-right: 100px;
  margin-bottom: 30px;
}

.about-us-right img{
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.about-us-right .red-btn {
  width: 300px;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.sort {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.filter-title,
.sort a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
}

.sort a {
  text-decoration: underline;
  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
  opacity: 0.3;
}

.sort a:hover {
  text-decoration: underline;
  text-decoration-color: #ee3643;
  opacity: 1;
}

.sort a:active {
  color: #ee3643;
  text-decoration: none;
  opacity: 1;
}

.filter-container {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-btn {
  font-size: 13px;
  width: 140px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: solid #e5e5e5;
  background-color: #ffffff;
}

.catalog-header {
  background-color: #f2f6f8;
}

.catalog-article {
  background-color: #f2f6f8;
}
/*Разметка каталога*/

.inner-page .page-header {
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 360px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  /* Временно для сетки */
  min-height: 20px;
}

.catalog-header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  /* Временно для сетки */
  min-height: 90px;
}

.catalog-wrapper {
  display: flex;
  min-height: 1140px;
  margin-bottom: 60px;
}

.filter-container {
  width: 220px;
  height: 750px;
  margin-right: 20px;
}

.title-inner {
  width: 220px;
  height: 40px;
  background-color: #f7f3ec;
}

.catalog-inner {
  display: flex;
  flex-direction: column;
  width: 700px;
  min-height: 1145px;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 40px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 40px;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.paginator {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 285px;
  min-height: 38px;
}

.paginator a {
  display: block;
  width: 38px;
  height: 38px;
  color: #000000;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}

.paginator .next {
  width: 140px;
}

.catalog-article-wrapper {
  display: flex;
  width: 100%;
  min-height: 260px;
  background-color: #f2f6f8;
}

.inner-page .page-footer {
  margin-top: 0;
}

/*Разметка футера*/


.page-footer {
  font-size: 18px;
  line-height: 24px;
  margin-top: 85px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  width: 100%;
}

.footer-top .container,
.footer-middle .container {
  display: flex;
  justify-content: space-between;
}

.footer-top .container {
  margin-bottom: 30px;
}

.footer-logo {
  height: 63px;
  padding-top: 21px;
  padding-right: 42px;
  padding-bottom: 16px;
  padding-left: 42px;
}

.footer-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 550px;
}

.footer-service a{
  color: #ffffff:
}

.footer-service a:hover {
  color: #f1f5f7;
  text-decoration: underline;
}

.footer-service a:active {
  opacity: 0.5;
}

.footer-middle p {
  width: 340px;
  min-height: 50px;
  margin-right: auto;
}

.footer-promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 525px;
}

.footer-promo a{
  color: #ffd180;
}

.footer-promo a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.footer-promo a:active {
  opacity: 0.5;
}

.footer-copirite .container {
  display: flex;
  justify-content: space-between;
  min-height: 110px;
}

.footer-copirite {
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  background-color: #293449;
}

.footer-copirite p {
  min-height: 45px;
}

.footer-copirite p:nth-of-type(1) {
  width: 335px;
}

.footer-copirite p:nth-last-of-type(2) {
  width: 140px;
}

.footer-copirite p:nth-of-type(3) {
  width: 110px;
}

.footer-copirite a {
  color: #e0b976;
}

.footer-copirite a:hover {
  text-decoration: underline;
}

.footer-copirite a:active {
  color: #e53643;
  text-decoration: none;
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social a {
  display: inline-block;
  font-size: 0;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
}

.social-btn {
  background-color: #212a3a;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}


/*разметка  попапа*/

.modal {
  font-family: "Cuprum", Arial, sans-serif;

  width: 620px;
  height: 430px;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
}

.feedback-form-group {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-field {
  height: 112px;
  background-color: #f4f4f4;
}
